/* reset the browser defaults */
* {
	text-align: center;
}

h1, h3, p {
	margin: 0;
	text-shadow: white 0px 0px 10px;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 200%;
}

#content {
	background-color: #fff;
}

ul {
	list-style-type: none;
}

/* full page background image */
body, html {
	height: 100%;
	margin: 0;

}

.bg-img {
	background-image: url("../images/close-race.jpg");

	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*opacity: 0.65;*/
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
}


.button:hover {
    background-color: white;
    color: #4CAF50;
    font-weight: bold;

    border-style: solid;
    border-color: #4CAF50;
    border-width: thick;
}

/*.caption {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption h1, .caption p, .caption h3 {
  background-color: #111;
  color: #fff;
  opacity: 0.5;
  padding: 18px;
  font-size: 25px;
}*/